
body{
    background-color: white;
    
}

header{
    
    background-color: blue;
}

section{
    color: orange;
}

h2{
    background-color: blue;
    color: black;
}

h2{
    color:darkgray;
}

#about h1{
    width: 50%;
    height: 15px;
}

nav ul {
    background-color: skyblue;
    margin: 40px;
    padding: 40px;
    
}

h1 {
    margin: 10px;
}

h2{
    margin: 15px;
}

.red {
    color: red;
    margin: 10px;
}

header h1{
    margin: 8px 15px 12px 2px;
}

#selectors dl{
    border: red solid 2px;
    border-radius: 5px;
}

#selectors {
    border-radius: 1em 2em 3em 4em;
}
